.container {
  padding: 0 2rem;
}
.list a{
  text-decoration: none;
}
.list li{
  list-style: none;
  color: black;
  border: 1px solid black;
  margin: 4px;
  padding: 10px;
  font-weight: 600;
  font-size: larger;
}